* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
  font-style: normal;
}

.root {
  display: flex;
}

/* LEFT */
.left {
  position: relative;
  width: 600px;
  min-height: 900px;
  height: 100vh;
  background: linear-gradient(180deg, #8892FF 0%, #6D6BE5 18.75%);
  padding-top: 92px;
  padding-left: 64px;
  overflow: hidden;
  flex-shrink: 0;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #EDF2FF;
  margin-bottom: 72px;
}

.content {
  display: flex;
  gap: 24px;
  width: 472px;
  height: 168px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.content__list__el {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
}

.content__list__check {
  margin-right: 8px;
}

.bg-image {
  position: absolute;
  width: 600px;
  left: 0px;
  bottom: 0px;
}

/* RIGHT */
.right {
  flex-grow: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 900px;
}

.lang-row {
  width: 100%;
  padding: 24px;
  margin-bottom: 20px;
}

.lang-row__select {
  float: right;
}

.form {
  display: flex;
  flex-direction: column;
  width: 336px;
  margin-bottom: 32px;
}

.form__nav {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #CBD5E2;
  margin-bottom: 48px;
}

.form__nav__button {
  position: relative;
  width: 50%;
  height: 48px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 48px;
  color: #6D7895;
}

.form__nav__button_active {
  color: #3843ED;
}

.form__nav__button_active::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #4E5AF2;
  bottom: -0.5px;
  border-radius: 4px 4px 0px 0px;
}

.form__fields {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}

.form__field {
  position: relative;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
}

.form__field__icon {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 8px;
  bottom: 8px;
}

.form__field__icon_key {
  right: 32px;
}

.form__input {
  padding: 8px 8px 8px 16px;
  width: 100%;
  height: 40px;
  border: 1px solid #CBD5E2;
  border-radius: 4px;
  outline: 0;
}

.form__input:focus {
  border: 2px solid #3843ED;
}

.form__input:invalid:focus {
  border: 2px solid #FF776F;
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #8D97B0;
}

.form__submit {
  width: 100%;
  line-height: 40px;
  background: #DCDEFC;
  border-radius: 20px;
  border: 0;
  font-weight: 600;
  font-size: 12px;
  color: #8D97B0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.form__submit:hover {
  background: #3843ED;
  color: #fff;
}

.separator {
  position: relative;
  display: flex;
  justify-content: center;
  width: 336px;
  height: 24px;
  margin: 32px 0;
  text-align: center;
}

.separator__line {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #D2D8E8;
  /* adjust this to your desired line color */
  width: 100%;
  z-index: -1;
}

.separator__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #8D97B0;
  padding: 0 24px;
  background-color: #fff;
}

.socials {
  display: flex;
  gap: 12px;
  height: 40px;
  width: 336px;
}

.socials__button {
  width: 104px;
  height: 40px;
  border: 1px solid #D2D8E8;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.lang-row__select {
  background: rgba(237, 242, 255, 0.7);
  border-radius: 8px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  color: #6D6BE5;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
}

.lang-row__wrapper {
  position: relative;
}

.lang-row__options {
  position: absolute;
  right: 0;
  top: 30px;
  display: none;
  width: 143px;
  padding: 8px 0px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.08), 0px 0px 80px rgba(0, 0, 0, 0.32);
  border-radius: 8px;
  background: #FFFFFF;
}

.lang-row__options__el {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #303842;
  padding: 16px;
  cursor: pointer;
}