/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
  font-style: normal;
}

.root {
  display: flex;
  position: relative;
}

/* LEFT */
.left {
  position: relative;
  width: 480px;
  min-height: 900px;
  height: 100vh;
  background: linear-gradient(180deg, #8892FF 0%, #6D6BE5 18.75%);
  padding-top: 48px;
  padding-left: 64px;
  padding-right: 48px;
  overflow: hidden;
  flex-shrink: 0;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 12px;
}

.paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #EDF2FF;
}

.bg-image {
  position: absolute;
  width: 480px;
  left: 0px;
  bottom: 0px;
}

/* RIGHT */
.right {
  flex-grow: 4;
  min-height: 900px;
  padding: 48px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  width: 576px;
  margin-bottom: 32px;
}

.form__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 24px;
}

.form__fields {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form__fields__name {
  display: flex;
  gap: 24px;
  width: 100%;
}

.form__field {
  position: relative;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
}

.form__field__icon {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 8px;
  bottom: 8px;
}

.form__field__icon_key {
  right: 32px;
}

.form__input {
  padding: 8px 8px 8px 16px;
  width: 100%;
  height: 40px;
  border: 1px solid #CBD5E2;
  border-radius: 4px;
  outline: 0;
}

.form__input:focus {
  border: 2px solid #3843ED;
}

.form__input:invalid:focus {
  border: 2px solid #FF776F;
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #8D97B0;
}

.form__input:disabled {
  background: #DCDEFC;
}

.form__input:disabled::placeholder {
  font-weight: 500;
}

.required {
  color: #FF776F;
}

.right-nav {
  display: flex;
  justify-content: space-between;
}

.right-nav__exit {
  background: 0;
  border: 0;
  outline: 0;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: #6D7895;
  cursor: pointer;
}

.right-nav__exit__img {
  margin-right: 8px;
}

.right-nav__next {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  height: 40px;
  background: #4E5AF2;
  border-radius: 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  cursor: pointer;
  border: 0;
  outline: 0;
}

.form__field__options {
  position: absolute;
  right: 0;
  top: 70px;
  display: none;
  width: 100%;
  padding: 8px 0px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.08), 0px 0px 80px rgba(0, 0, 0, 0.32);
  border-radius: 8px;
  background: #FFFFFF;
  z-index: 10;
}

.form__field__options__el {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #303842;
  padding: 16px;
  cursor: pointer;
}

.form__input__dropdown {
  position: absolute;
  right: 5px;
  bottom: 10px;
  width: 20px;
  height: 20px;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup__modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px;
  width: 504px;
  height: 402px;
  background: #FFFFFF;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.08), 0px 0px 80px rgba(0, 0, 0, 0.32);
  border-radius: 8px;
}

.popup__modal__close {
  position: absolute;
  top: 17px;
  right: 17px;
  font-size: 24px;
  line-height: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: 0;
  border: 0;
  color: #8D97B0;
}

.popup__modal__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 12px;
}

.popup__modal__subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 24px;
}

.popup__modal__next {
  width: 216px;
  height: 40px;
  background: #5E6BF6;
  border-radius: 20px;
  border: 0;
  outline: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 12px;
}

.popup__modal__exit {
  width: 216px;
  height: 40px;
  border: 1px solid #D2D8E8;
  border-radius: 20px;
  outline: 0;
  background: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
}

.popup__modal__img {
  margin-bottom: 27px;
}